*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #4b6cb7;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda One', cursive;
}

.title{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #fff;
}

.main-carousel{
    display: block;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.carousel{
    width: 100%;
    height: 350px;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.carousel-items{
    width: 300px;
    height: 350px;
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 660px){
    .carousel-items{
        width: 600px;
    }
    .title{
        font-size: 2rem;
    }
}

@media screen and (min-width: 960px){
    .carousel-items{
        width: 900px;
    }
    .title{
        font-size: 3rem;
    }
}

@media screen and (min-width: 1260px){
    .carousel-items{
        width: 1200px;
    }
    .title{
        font-size: 4rem;
    }
}

@media screen and (min-width: 1560px){
    .carousel-items{
        width: 1500px;
    }
}

.carousel-images{
    position: absolute;
   display: flex;
   top: 0;
   left: 0;
   transition: left .5s;
}

.carousel-item{
    width: 300px;
    height: 400px;
}

.carousel-item img{
    display: block;
    width: 250px;
    height: 350px;
    margin: 0 auto;
    box-sizing: padding-box;
    border: 5px solid rgba(34, 34, 34, .4);
    transition: border .2s;
}

.carousel-item img:hover{
    border: 5px solid #222;
}

.carousel-arrow-left, .carousel-arrow-right{
    width: auto;
    height: auto;
    background-color: #222;
    border-radius: 5px;
    padding: .5rem;
    font-size: 4em;
    cursor: pointer;
    color: #4b6cb7;
    /* outline: 1px solid green; */
    transition: color .5s;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover{
    color: #fff;
}
