*, *::before, *::after{
    box-sizing: border-box;
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%); */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.main-carousel{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.carousel{
    width: 100%;
    height: 400px;
    display: flex;  
    align-items: center;
    justify-content: center;
    outline:1px solid green;
}

.carousel-items{
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 0 10px;
    outline:1px solid blue;
}

@media screen and (min-width: 960px){
    .carousel-items{
        width: 900px;
    }
}

@media screen and (min-width: 1260px){
    .carousel-items{
        width: 1200px;
    }
}

@media screen and (min-width: 1560px){
    .carousel-items{
        width: 1500px;
    }
}

.carousel-images{
    position: absolute;
   display: flex;
   /* outline: 4px solid purple; */
   top: 0;
   left: 0;
   transition: left .5s;
}

.carousel-item{
    width: 300px;
    height: 400px;
}

.carousel-arrow-left, .carousel-arrow-right{
    width: 30px;
    height: 30px;
}

.carousel-arrow-left::before, .carousel-arrow-right::before{
    content: ">";
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.carousel-arrow-left::before{
    content: "<";
}

.arrow-active{
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: all .25s;
}

.arrow-active:hover{
    background-color: #333;
}

.arrow-desactive{
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    cursor: default;
    opacity: .5;
}